//Colors
$turquise: #58d0b8;
$contrast-red: #f65555;
$dark-grey:#495a56;
$mellow-grey:#f4f6f6;
//UI elements attr
$nav-color: $turquise;
$nav-heigth: 65px;
$btn-color: $contrast-red;
$normal-font-color:$dark-grey;
$body-background-color:$mellow-grey;
//Mixins
@mixin upper-case() 
{
    letter-spacing: 0.05em;
    text-transform: uppercase;  
}
@mixin horizontal-center 
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
body 
{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color:$normal-font-color !important;
    background-color: $body-background-color !important;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 
{
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.btn-3d
{
    box-shadow: 0px 0.15em #dd4d4d;
    cursor:pointer;
    color: white;    
    background-color: $contrast-red;
    display: block;
	font-family: 'Segoe UI Light', 'HelveticaNeue-UltraLight', 'Helvetica Neue Ultra Light', sans-serif;
	font-weight:600;
    text-decoration: none;
	border-radius: 4px;
	border: 0;
	outline: none;
	height: 44px;
    font-size: 14px;
	text-align: center;
	line-height: 44px;
	margin-top: -22px;
	text-shadow: 0 -1px -1px #dd4d4d;
	box-shadow: 0 4px 0 #dd4d4d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
	transition: all 0.05s ease-in-out; 
    padding-left: 12px;
    padding-right: 12px;
    @include upper-case();   
}
.btn-3d:active
{
    margin-top: -18px;
	box-shadow: none;
}
.btn-3d:hover
{
    background-color: #cd3d3d;
	text-shadow: 0 -1px -1px #c4402f;
    text-decoration: none;
    color:white;
}
.offset-btn-3d
{
    padding-top:22px;
    height:66px;
}
nav
{
    height:$nav-heigth;
    background-color:$nav-color;
    position: relative;
    img
    {
        height: 65px;
        padding:10px;
    }
    span
    {
        text-transform: uppercase;
        font-weight:bold;
        font-size: 20px;
        line-height: 65px;
        color:white;
        vertical-align: middle;
        font-family: 'Segoe UI Light', 'HelveticaNeue-UltraLight', 'Helvetica Neue Ultra Light', sans-serif;
    }
}
/*Prefs page*/
.prefs
{
    width:100%;
    img
    {
        width:400px;
        margin:0 auto;
        display: block;
    }
}
/*Home Page*/
.home
{
    max-width:100%;
    width:800px;
    margin: 0 auto;
    position:relative;
    text-align:center;
    .top-controls
    {
        position: relative;
        text-align: center;
        padding-top: 20px;
        .input-symbol
        {
            position: relative;
        }
        .btn-3d
        {
            @include horizontal-center();
        }
    }
    .bottom-controls
    {
        .input-symbol
        {
            position: relative;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }
        .input-symbol.hide
        {
            display: none;
        }
        .btn-3d
        {
            @include horizontal-center();
            position: relative !important;
            width:140px;
        }
    }
    .showcaser
    {
        position:relative;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .img-wrapper
    {
        overflow:hidden;
        position:relative;
        margin: 0 auto;
        canvas.with-border
        {
            border: 1px solid #cdcdcd;
        }
        textarea
        {
            width:100%;
            height:100%;
            text-align:center;
            vertical-align: top;
            text-transform: uppercase;
            webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: transparent;
            color:white;
            outline:none;
            font-size:36px;
            font-family: Arial;
            font-weight: 700;
            padding: 0!important;
            margin: 0!important;
            border:none !important;
            resize: none !important;
            overflow: hidden;
            text-shadow: 2px 2px 2px #000,-2px -2px 2px #000,2px -2px 2px #000,-2px 2px 2px #000,2px -2px 2px #000,2px 2px 2px #000,-2px -2px 0 #000,2px -2px 0 #000,-2px 2px 0 #000,2px -2px 0 #000
        }
        .meme-textcontrol-dragoverlay
        {
            position: absolute;
            z-index: 3;
            height: 100%;
            width: 100%;
        }
        .txt-box
        {
            position:absolute;
            border:none !important;
            padding: 0!important;
            margin: 0!important;
        }
        .hide
        {
            visibility:collapse !important;
        }
        .top
        {
            top:0px;
        }
        .bottom 
        {
            bottom:0px;
        }
    }
    .transparent-txt-box
    {
        outline: 1px dashed #ddd;
        background: transparent!important;
        color:white;
        text-transform:uppercase;
        cursor: move;
    }
}
.ui-resizable-se 
{
    position: absolute;
    background: url(//s.imgur.com/images/resize.png) left top;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    z-index:2;
    cursor: se-resize;
}


