<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap-css@3.1.1" data-semver="3.2.0">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <title>Preferences</title>
    </head>
    <body>
        <div class="prefs">
            <img src="lib/icons/dontcare.png"/>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script type="text/javascript">
            if(window && !window.$ && !window.jQuery && module && module.exports && module.exports){
            window.$ = window.jQuery = module.exports;
            }
        </script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    </body>
</html>