<!DOCTYPE html>
<html>
    <head>
        <title>Print Preview</title>
    </head>
    <body>
        <div class="preview">
            <img src="../out.png"/>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script type="text/javascript">
            if(window && !window.$ && !window.jQuery && module && module.exports && module.exports){
            window.$ = window.jQuery = module.exports;
            }
        </script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="print.js"></script>
    </body>
</html>